In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=(SparkSession.builder.master("local").appName("Capstone Project")\
      .config("hive.metastore.uris","thrift://ip-10-1-2-24.ap-south-1.compute.internal:9083")\
      .enableHiveSupport().getOrCreate())
spark

In [ ]:
# importing all tables 
#employees=spark.sql("select * from project_de.employees")
#titles=spark.sql("select * from project_de.titles")
#salaries=spark.sql("select * from project_de.salaries")
#departments=spark.sql("select * from project_de.department")
#department_manager=spark.sql("select * from project_de.department_manager")
#department_employees=spark.sql("select * from project_de.department_employees")

In [4]:
data=spark.sql('select * from project_de.employees e \
inner join project_de.salaries s on e.emp_no=s.emp_no \
inner join project_de.titles t on e.emp_titles_id=t.title_id \
inner join project_de.department_employees de on e.emp_no=de.emp_no \
inner join project_de.department d on de.dept_no=d.dept_no')

In [7]:
type(data)

pyspark.sql.dataframe.DataFrame

In [11]:
data.count()

331603

In [14]:
data.columns

['emp_no',
 'emp_titles_id',
 'birth_date',
 'first_name',
 'last_name',
 'sex',
 'hire_date',
 'no_of_projects',
 'last_performance_rating',
 'left_company',
 'last_date',
 'emp_no',
 'salary',
 'title_id',
 'title',
 'emp_no',
 'dept_no',
 'dept_no',
 'dept_name']

In [42]:
datacols=['e.emp_no',
 'emp_titles_id',
 'birth_date',
 'first_name',
 'last_name',
 'sex',
 'hire_date',
 'no_of_projects',
 'last_performance_rating',
 'left_company',
 'last_date',
 'salary',
 'title',
 'de.dept_no',
 'dept_name']

In [45]:
data1=data.select(datacols)

In [52]:
#information abt the dataset
data1.printSchema()

root
 |-- emp_no: integer (nullable = true)
 |-- emp_titles_id: string (nullable = true)
 |-- birth_date: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- hire_date: string (nullable = true)
 |-- no_of_projects: integer (nullable = true)
 |-- last_performance_rating: string (nullable = true)
 |-- left_company: boolean (nullable = true)
 |-- last_date: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- dept_no: string (nullable = true)
 |-- dept_name: string (nullable = true)

In [60]:
data1.show(4)

+------+-------------+----------+----------+---------+---+----------+--------------+-----------------------+------------+----------+------+---------------+-------+-----------+
|emp_no|emp_titles_id|birth_date|first_name|last_name|sex| hire_date|no_of_projects|last_performance_rating|left_company| last_date|salary|          title|dept_no|  dept_name|
+------+-------------+----------+----------+---------+---+----------+--------------+-----------------------+------------+----------+------+---------------+-------+-----------+
| 60117|Senior Engineer|   d005|development|
| 65828|          Staff|   d007|      Sales|
| 40006|Senior Engineer|   d004| Production|
| 40054|Senior Engineer|   d004| Production|
+------+-------------+----------+----------+---------+---+----------+--------------+-----------------------+------------+----------+------+---------------+-------+-----------+
only showing top 4 rows

In [67]:
import pandas as pd
import numpy as np
import datetime as dt
from datetime import datetime

In [46]:
data1.toPandas()

,emp_no,emp_titles_id,birth_date,first_name,last_name,sex,hire_date,no_of_projects,last_performance_rating,left_company,last_date,salary,title,dept_no,dept_name
0,10001,e0003,9/2/1953,Georgi,Facello,M,6/26/1986,9,C,True,7/30/1994\r,60117,Senior Engineer,d005,development
1,10002,s0001,6/2/1964,Bezalel,Simmel,F,11/21/1985,8,B,False,\r,65828,Staff,d007,Sales
2,10003,e0003,12/3/1959,Parto,Bamford,M,8/28/1986,1,C,False,\r,40006,Senior Engineer,d004,Production
3,10004,e0003,5/1/1954,Chirstian,Koblick,M,12/1/1986,5,A,False,\r,40054,Senior Engineer,d004,Production
4,10005,s0001,1/21/1955,Kyoichi,Maliniak,M,9/12/1989,6,A,False,\r,78228,Staff,d003,Human Resources
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331598,499995,e0002,9/24/1958,Dekang,Lichtner,F,1/12/1993,5,B,False,\r,40000,Engineer,d004,Production
331599,499996,e0003,3/7/1953,Zito,Baaz,M,9/27/1990,8,B,True,12/15/1995\r,58058,Senior Engineer,d004,Production
331600,499997,e0003,8/3/1961,Berhard,Lenart,M,4/21/1986,10,B,False,\r,49597,Senior Engineer,d005,development
331601,499998,s0001,9/5/1956,Patricia,Breugel,M,10/13/1993,1,B,False,\r,40000,Staff,d002,Finance
331602,499999,e0002,5/1/1958,Sachin,Tsukuda,M,11/30/1997,8,A,False,\r,63707,Engineer,d004,Production

### converting the string dates to datetime

In [90]:
# selecting dates from data1 in b and coverting to pandas dataframe
b=data1.select('emp_no', 'birth_date', 'hire_date', 'last_date').toPandas()

In [91]:
b.head()

   emp_no birth_date   hire_date    last_date
0   10001   9/2/1953   6/26/1986  7/30/1994\r
1   10002   6/2/1964  11/21/1985           \r
2   10003  12/3/1959   8/28/1986           \r
3   10004   5/1/1954   12/1/1986           \r
4   10005  1/21/1955   9/12/1989           \r

In [92]:
b.birth_date.head(2)

0    9/2/1953
1    6/2/1964
Name: birth_date, dtype: object

In [93]:
# coverting the string date to datetime
b.birth_date=pd.to_datetime(b.birth_date)
b.hire_date=pd.to_datetime(b.hire_date)

In [57]:
b.dtypes

emp_no                 int32
birth_date    datetime64[ns]
hire_date     datetime64[ns]
last_date             object
dtype: object

In [95]:
b.last_date

0          7/30/1994\r
1                   \r
2                   \r
3                   \r
4                   \r
              ...
331598              \r
331599    12/15/1995\r
331600              \r
331601              \r
331602              \r
Name: last_date, Length: 331603, dtype: object

In [106]:
b['last_date']=pd.to_datetime(b.last_date[b.last_date!="\r"])

In [108]:
b.last_date.head(4)

0   1994-07-30
1          NaT
2          NaT
3          NaT
Name: last_date, dtype: datetime64[ns]

In [109]:
b.dtypes

emp_no                 int32
birth_date    datetime64[ns]
hire_date     datetime64[ns]
last_date     datetime64[ns]
dtype: object

In [110]:
b.head(4)

   emp_no birth_date  hire_date  last_date
0   10001 1953-09-02 1986-06-26 1994-07-30
1   10002 1964-06-02 1985-11-21        NaT
2   10003 1959-12-03 1986-08-28        NaT
3   10004 1954-05-01 1986-12-01        NaT

In [112]:
#creating pandas dataframe to spark dataframe 
bdf=spark.createDataFrame(b)

In [113]:
bdf.show(4)

+------+-------------------+-------------------+-------------------+
|emp_no|         birth_date|          hire_date|          last_date|
+------+-------------------+-------------------+-------------------+
| 10001|1953-09-02 00:00:00|1986-06-26 00:00:00|1994-07-30 00:00:00|
| 10002|1964-06-02 00:00:00|1985-11-21 00:00:00|               null|
| 10003|1959-12-03 00:00:00|1986-08-28 00:00:00|               null|
| 10004|1954-05-01 00:00:00|1986-12-01 00:00:00|               null|
+------+-------------------+-------------------+-------------------+
only showing top 4 rows

In [115]:
bdf.dtypes

[('emp_no', 'bigint'),
 ('birth_date', 'timestamp'),
 ('hire_date', 'timestamp'),
 ('last_date', 'timestamp')]

In [126]:
#now joining data1 and bdf on emp_no column and assigning into data12

data11=data1.drop('birth_date', 'hire_date', 'last_date')
data12=data11.join(bdf, on='emp_no', how='inner' )

In [127]:
#this is our correct table with all variable being correctly represented by their datatypes
data12.dtypes

[('emp_no', 'int'),
 ('emp_titles_id', 'string'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('sex', 'string'),
 ('no_of_projects', 'int'),
 ('last_performance_rating', 'string'),
 ('left_company', 'boolean'),
 ('salary', 'int'),
 ('title', 'string'),
 ('dept_no', 'string'),
 ('dept_name', 'string'),
 ('birth_date', 'timestamp'),
 ('hire_date', 'timestamp'),
 ('last_date', 'timestamp')]

In [129]:
data12.count()

394761

In [131]:
data12.show(4)

+------+-------------+----------+---------+---+--------------+-----------------------+------------+------+---------------+-------+------------------+-------------------+-------------------+---------+
|emp_no|emp_titles_id|first_name|last_name|sex|no_of_projects|last_performance_rating|left_company|salary|          title|dept_no|         dept_name|         birth_date|          hire_date|last_date|
+------+-------------+----------+---------+---+--------------+-----------------------+------------+------+---------------+-------+------------------+-------------------+-------------------+---------+
| 10156|        e0003|    Sumali|  Fargier|  M|             5|                      B|       false| 49879|Senior Engineer|   d006|Quality Management|1964-09-19 00:00:00|1985-03-10 00:00:00|     null|
| 10422|        e0002|    Greger|   Rubsam|  F|             5|                      S|       false| 45725|       Engineer|   d006|Quality Management|1954-06-02 00:00:00|1990-12-07 00:00:00|     null|
| 10422|        e0002|    Greger|   Rubsam|  F|             5|                      S|       false| 45725|       Engineer|   d006|Quality Management|1954-06-02 00:00:00|1990-12-07 00:00:00|     null|
| 10422|        e0002|    Greger|   Rubsam|  F|             5|                      S|       false| 45725|       Engineer|   d004|        Production|1954-06-02 00:00:00|1990-12-07 00:00:00|     null|
+------+-------------+----------+---------+---+--------------+-----------------------+------------+------+---------------+-------+------------------+-------------------+-------------------+---------+
only showing top 4 rows

In [130]:
data12.describe().show()

+-------+------------------+-------------+----------+---------+------+-----------------+-----------------------+------------------+------------------+-------+----------------+
|summary|            emp_no|emp_titles_id|first_name|last_name|   sex|   no_of_projects|last_performance_rating|            salary|             title|dept_no|       dept_name|
+-------+------------------+-------------+----------+---------+------+-----------------+-----------------------+------------------+------------------+-------+----------------+
|  count|            394761|       394761|    394761|   394761|394761|           394761|                 394761|            394761|            394761| 394761|          394761|
|   mean|253349.08461575484|         null|      null|     null|  null| 5.50490296660511|                   null| 52974.49480571789|              null|   null|            null|
| stddev|161837.51753040068|         null|      null|     null|  null|2.873974487591199|                   null|14295.239068512406|              null|   null|            null|
|    min|             10001|        e0001|     Aamer|   Aamodt|     F|                1|                      A|             40000|Assistant Engineer|   d001|Customer Service|
|    max|            499999|        s0002|    Zvonko|  dAstous|     M|               10|                      S|            129492|  Technique Leader|   d009|     development|
+-------+------------------+-------------+----------+---------+------+-----------------+-----------------------+------------------+------------------+-------+----------------+

In [190]:
#Keep a copy of the original dataframe for later use
datafinal=data12

In [191]:
#droping irrelevant columns 
datafinal=datafinal.drop('emp_no','first_name','last_name')

In [192]:
datafinal.dtypes

[('emp_titles_id', 'string'),
 ('sex', 'string'),
 ('no_of_projects', 'int'),
 ('last_performance_rating', 'string'),
 ('left_company', 'boolean'),
 ('salary', 'int'),
 ('title', 'string'),
 ('dept_no', 'string'),
 ('dept_name', 'string'),
 ('birth_date', 'timestamp'),
 ('hire_date', 'timestamp'),
 ('last_date', 'timestamp')]

In [148]:
from pyspark.sql import functions as F

In [193]:
#converting left_company boolean to int
datafinal = datafinal.withColumn('left_company', F.when(datafinal['left_company']=='true',1).otherwise(0))

In [194]:
datafinal.select('left_company').show(7)

+------------+
|left_company|
+------------+
|           0|
|           0|
|           0|
|           0|
|           0|
|           1|
|           0|
+------------+
only showing top 7 rows

In [195]:
#Columns that will be used as features and their types
continuous_features = ['no_of_projects', 'salary']

categorical_features = ['emp_titles_id','sex',
                      'last_performance_rating', 'left_company',
                      'title','dept_no','dept_name']

### preprocessing data

In [142]:
#Encoding all categorical features
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler, PolynomialExpansion, VectorIndexer

In [196]:
# create object of StringIndexer class and specify input and output column
si_emp_titles_id = StringIndexer(inputCol='emp_titles_id',outputCol='emp_titles_id_index')
si_sex = StringIndexer(inputCol='sex',outputCol='sex_index')
si_last_performance_rating = StringIndexer(inputCol='last_performance_rating',outputCol='last_performance_rating_index')
si_left_company = StringIndexer(inputCol='left_company',outputCol='left_company_index')
si_title = StringIndexer(inputCol='title',outputCol='title_index')
si_dept_no = StringIndexer(inputCol='dept_no',outputCol='dept_no_index')
si_dept_name = StringIndexer(inputCol='dept_name',outputCol='dept_name_index')


# transform the data
datafinal = si_emp_titles_id.fit(datafinal).transform(datafinal)
datafinal = si_sex.fit(datafinal).transform(datafinal)
datafinal = si_last_performance_rating.fit(datafinal).transform(datafinal)
datafinal = si_left_company.fit(datafinal).transform(datafinal)
datafinal = si_title.fit(datafinal).transform(datafinal)
datafinal = si_dept_no.fit(datafinal).transform(datafinal)
datafinal = si_dept_name.fit(datafinal).transform(datafinal)


# view the transformed data
datafinal.select('emp_titles_id', 'emp_titles_id_index', 'sex', 'sex_index','last_performance_rating',
                   'last_performance_rating_index','left_company','left_company_index','title','title_index',
                   'dept_no','dept_no_index','dept_name','dept_name_index').show(10)

+-------------+-------------------+---+---------+-----------------------+-----------------------------+------------+------------------+---------------+-----------+-------+-------------+------------------+---------------+
|emp_titles_id|emp_titles_id_index|sex|sex_index|last_performance_rating|last_performance_rating_index|left_company|left_company_index|          title|title_index|dept_no|dept_no_index|         dept_name|dept_name_index|
+-------------+-------------------+---+---------+-----------------------+-----------------------------+------------+------------------+---------------+-----------+-------+-------------+------------------+---------------+
|        e0003|                1.0|  M|      0.0|                      B|                          0.0|           0|               0.0|Senior Engineer|        1.0|   d006|          6.0|Quality Management|            6.0|
|        e0002|                2.0|  F|      1.0|                      S|                          4.0|           0|               0.0|       Engineer|        2.0|   d006|          6.0|Quality Management|            6.0|
|        e0002|                2.0|  F|      1.0|                      S|                          4.0|           0|               0.0|       Engineer|        2.0|   d006|          6.0|Quality Management|            6.0|
|        e0002|                2.0|  F|      1.0|                      S|                          4.0|           0|               0.0|       Engineer|        2.0|   d004|          1.0|        Production|            1.0|
|        e0002|                2.0|  F|      1.0|                      S|                          4.0|           0|               0.0|       Engineer|        2.0|   d004|          1.0|        Production|            1.0|
|        s0001|                0.0|  M|      0.0|                      B|                          0.0|           1|               1.0|          Staff|        0.0|   d009|          3.0|  Customer Service|            3.0|
|        s0001|                0.0|  M|      0.0|                      A|                          1.0|           0|               0.0|          Staff|        0.0|   d007|          2.0|             Sales|            2.0|
|        s0001|                0.0|  M|      0.0|                      C|                          2.0|           0|               0.0|          Staff|        0.0|   d007|          2.0|             Sales|            2.0|
|        s0001|                0.0|  M|      0.0|                      C|                          2.0|           0|               0.0|          Staff|        0.0|   d007|          2.0|             Sales|            2.0|
|        s0001|                0.0|  M|      0.0|                      C|                          2.0|           0|               0.0|          Staff|        0.0|   d001|          5.0|         Marketing|            5.0|
+-------------+-------------------+---+---------+-----------------------+-----------------------------+------------+------------------+---------------+-----------+-------+-------------+------------------+---------------+
only showing top 10 rows

In [207]:
def create_category_vars( dataset, field_name ):
    idx_col = field_name + "Index"
    col_vec = field_name + "Vec"

    month_stringIndexer = StringIndexer( inputCol=field_name, outputCol=idx_col )

    month_model = month_stringIndexer.fit( dataset )
    month_indexed = month_model.transform( dataset )

    month_encoder = OneHotEncoder( dropLast=True,inputCol=idx_col,outputCol= col_vec )

    return month_encoder.transform( month_indexed )

Exception ignored in: <function JavaWrapper.__del__ at 0x7f63302138c0>
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.7/site-packages/pyspark/ml/wrapper.py", line 40, in __del__
    if SparkContext._active_spark_context and self._java_obj is not None:
AttributeError: 'OneHotEncoder' object has no attribute '_java_obj'

In [208]:
for  col in  categorical_features:
    datafinal = create_category_vars( datafinal, col )
    datafinal.cache()

In [233]:
datafinal.columns

['emp_titles_id',
 'sex',
 'no_of_projects',
 'last_performance_rating',
 'left_company',
 'salary',
 'title',
 'dept_no',
 'dept_name',
 'birth_date',
 'hire_date',
 'last_date',
 'emp_titles_id_index',
 'sex_index',
 'last_performance_rating_index',
 'left_company_index',
 'title_index',
 'dept_no_index',
 'dept_name_index',
 'emp_titles_idIndex',
 'emp_titles_idVec',
 'sexIndex',
 'sexVec',
 'last_performance_ratingIndex',
 'last_performance_ratingVec',
 'left_companyIndex',
 'left_companyVec',
 'titleIndex',
 'titleVec',
 'dept_noIndex',
 'dept_noVec',
 'dept_nameIndex',
 'dept_nameVec']

In [210]:
categorical_vecs = [ "".join( (cat, "Vec") ) for cat in categorical_features ]

In [213]:
categorical_vecs

['emp_titles_idVec',
 'sexVec',
 'last_performance_ratingVec',
 'left_companyVec',
 'titleVec',
 'dept_noVec',
 'dept_nameVec']

In [223]:
#Create vectors from all features column
featureCols = featureCols = ['no_of_projects',
 'salary',
 'emp_titles_idVec',
 'sexVec',
 'last_performance_ratingVec',
 'titleVec',
 'dept_noVec',
 'dept_nameVec']

In [235]:
# Creating the vector of all predictors
assembler = VectorAssembler( inputCols = featureCols, outputCol = "features")

In [236]:
datafinal = assembler.transform( datafinal )

In [240]:
# Setting the target variables
datafinal = datafinal.withColumn( "label", datafinal.left_companyIndex)

In [241]:
datafinal.select( "features", "label" ).show( 5 )

+--------------------+-----+
|            features|label|
+--------------------+-----+
|(35,[0,1,3,8,9,14...|  0.0|
|(35,[0,1,4,15,25,...|  0.0|
|(35,[0,1,4,15,25,...|  0.0|
|(35,[0,1,4,15,20,...|  0.0|
|(35,[0,1,4,15,20,...|  0.0|
+--------------------+-----+
only showing top 5 rows

In [242]:
#Split the dataset
train_df, test_df = datafinal.randomSplit( [0.7, 0.3], seed = 42 )

In [243]:
#Train Linear Regression Model
from pyspark.ml.classification import LogisticRegression

In [255]:
logistic = LogisticRegression(featuresCol='features', labelCol='label')

In [256]:
# training model 
model=logistic.fit(train_df)

In [259]:
pred_train=model.transform(train_df)

In [265]:
model.coefficientMatrix

DenseMatrix(1, 35, [0.0035, -0.0, 0.0116, 0.0252, 0.0232, 0.0062, 0.0393, -0.0022, ..., 0.004, 0.0135, 0.0252, 0.0262, 0.0051, -0.0071, -0.009, 0.0042], 1)

In [266]:
model.coefficients

DenseVector([0.0035, -0.0, 0.0116, 0.0252, 0.0232, 0.0062, 0.0393, -0.0022, 0.0022, -0.0404, -0.0249, -0.0205, -0.017, 0.0116, 0.0252, 0.0232, 0.0062, 0.0393, -0.0022, 0.004, 0.0135, 0.0252, 0.0262, 0.0051, -0.0071, -0.009, 0.0042, 0.004, 0.0135, 0.0252, 0.0262, 0.0051, -0.0071, -0.009, 0.0042])

In [267]:
model.intercept

-2.1889212364292177

In [271]:
training_summary = model.summary

In [275]:
training_summary.roc.show()

+--------------------+--------------------+
|                 FPR|                 TPR|
+--------------------+--------------------+
|                 0.0|                 0.0|
|  0.0090140392456165|              0.0104|
| 0.01501536483962321| 0.01698181818181818|
|0.023989234569884915| 0.02661818181818182|
|0.033846833637952156| 0.03709090909090909|
| 0.04421458555102533|0.048327272727272726|
| 0.05237703107112013| 0.05690909090909091|
|0.059221916487577575|              0.0636|
| 0.06711120930325976| 0.07229090909090909|
| 0.07364277249994979| 0.07883636363636363|
| 0.08116250577436783| 0.08578181818181818|
| 0.08816806925224448| 0.09294545454545454|
| 0.09618188756552652| 0.10127272727272728|
| 0.10249653537930065| 0.10730909090909091|
| 0.11100042177991122| 0.11596363636363637|
| 0.11811042599771034| 0.12327272727272727|
| 0.12397517523951074| 0.12945454545454546|
| 0.13149490851392878| 0.13643636363636363|
| 0.13912711643134026| 0.14396363636363638|
|  0.1453614252144048| 0.14978181818181818|
+--------------------+--------------------+
only showing top 20 rows

## Random Forest Classifier

In [276]:
# 

from pyspark.ml import Pipeline
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.feature import *
from pyspark.ml.evaluation import MulticlassClassificationEvaluator, BinaryClassificationEvaluator

from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [277]:
def train(df, classifier):
    train, test = df.randomSplit([.7,.3])

    model = classifier.fit(train)

    pred = model.transform(test)
    
    eval_accuracy = (MulticlassClassificationEvaluator
            (labelCol="label", predictionCol="prediction", metricName="accuracy"))
      
    eval_precision = (MulticlassClassificationEvaluator
            (labelCol="label", predictionCol="prediction", metricName="weightedPrecision"))
      
    eval_recall = (MulticlassClassificationEvaluator
            (labelCol="label", predictionCol="prediction", metricName="weightedRecall"))
      
    eval_f1 = (MulticlassClassificationEvaluator
            (labelCol="label", predictionCol="prediction", metricName="f1"))
    
    accuracy = eval_accuracy.evaluate(pred)
    
    precision =  eval_precision.evaluate(pred)
    
    recall =  eval_recall.evaluate(pred)
    
    f1 =  eval_f1.evaluate(pred)
    
    print(f"""
    Accuracy  = {accuracy}
    Error     = {1-accuracy}
    Precision = {precision}
    Recall    = {recall}
    F1        = {f1}""")

    return model, pred

In [280]:
rf = RandomForestClassifier(labelCol="label", featuresCol="features")

_ , pred = train(datafinal,rf)

pred.select("prediction", "label", "features").show()

    Accuracy  = 0.9006221128232795
    Error     = 0.09937788717672047
    Precision = 0.811120190106268
    Recall    = 0.9006221128232795
    F1        = 0.8535312565646093
+----------+-----+--------------------+
|prediction|label|            features|
+----------+-----+--------------------+
|       0.0|  1.0|(35,[0,1,7,10,18,...|
|       0.0|  0.0|(35,[0,1,7,10,18,...|
|       0.0|  0.0|(35,[0,1,7,11,18,...|
|       0.0|  0.0|(35,[0,1,7,11,18,...|
|       0.0|  0.0|(35,[0,1,7,10,18,...|
|       0.0|  0.0|(35,[0,1,7,10,18,...|
|       0.0|  0.0|(35,[0,1,7,8,10,1...|
|       0.0|  0.0|(35,[0,1,7,8,10,1...|
|       0.0|  0.0|(35,[0,1,7,8,11,1...|
|       0.0|  0.0|(35,[0,1,7,8,10,1...|
|       0.0|  0.0|(35,[0,1,7,8,11,1...|
|       0.0|  0.0|(35,[0,1,7,8,11,1...|
|       0.0|  0.0|(35,[0,1,7,8,11,1...|
|       0.0|  0.0|(35,[0,1,7,8,11,1...|
|       0.0|  0.0|(35,[0,1,4,9,15,2...|
|       0.0|  0.0|(35,[0,1,4,9,15,2...|
|       0.0|  0.0|(35,[0,1,4,12,15,...|
|       0.0|  0.0|(35,[0,1,4,10,15,...|
|       0.0|  0.0|(35,[0,1,4,10,15,...|
|       0.0|  1.0|(35,[0,1,4,10,15,...|
+----------+-----+--------------------+
only showing top 20 rows

## Pipeline creation

In [ ]:
# dataset 

#define stage 1 : transform the category columns to numeric
stage1 = StringIndexer(inputCol= 'category_1', outputCol= 'category_1_index')

# define stage 2 : one hot encode the numeric category_2 column
stage2 = OneHotEncoder(inputCols=['category_1_index'], outputCols=['category_2_vec'])

# Creating the vector of all predictors
stage3 = VectorAssembler( inputCols = featureCols, outputCol = "features").transform(dataset)

# Setting the target variables -
stage4 = datafinal.withColumn( "label", datafinal.targetvariable)

# define stage 5: logistic regression model                          
stage5 = LogisticRegression(featuresCol='features',labelCol='label')

# setup the pipeline
pipeline = Pipeline(stages=[stage1, stage2, stage3, stage4, stage5 ])

# fit the pipeline model and transform the data as defined
pipeline_model = pipeline.fit(train)
sample_train_pred = pipeline_model.transform(train)

# view the transformed data
sample_train_pred.show()

### -------------------Project ends here------------------------------